<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<form  th:action="@{/sendCode/mail/{id}(id=${student.id_student})}" method="post">
  <input type="text" name="name" placeholder="Введите ваше имя" required>
  <input type="email" name="email" placeholder="Введите ваш email" required>
  <textarea name="message" placeholder="Введите ваше сообщение" required></textarea>
  <input type="text" required th:value="${student.id_student}" id="codeInput"/>
  <input type="number" required name="money"/>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>


</body>

</html>